<!DOCTYPE html>
<html lang="tr">

<head>
  <%- include('../includes/head.ejs') %>
    <title>Sorular</title>
</head>
<style>
  option,
  select {
    color: black;
  }
</style>
<%- include('../includes/tctf-theme.ejs') %>

  <body>
    <div class="container" id="main">
      <%- include('../includes/navbar.ejs') %>
        <div class="ctel w-100">
          <div class="header">
            <h1>Sorular </h1>
          </div>
        </div>

        <h1 class="output text-center" id="qbaslik"> </h1>
        <form id="qform">
          <label for="isim">Soru ismi</label>
          <input type="text" class="form-control mb-3" placeholder="Soru" name="" id="qname">
          <hr>
          <label for="qcategory">Kategori</label>
          <select class="form-control" id="qcategory">
            <option selected>Se癟iniz</option>
            <option value="web">Web G羹venlii</option>
            <option value="reverse">Tersine M羹hendislik</option>
            <option value="binary">Binary Explotation</option>
            <option value="game">Oyun</option>
            <option value="mobile">Mobil Uygulama</option>
            <option value="forensics">Adli Biliim</option>
            <option value="blockchain">Blockchain</option>
            <option value="iot">IoT</option>
            <option value="osint">OSINT</option>
            <option value="misc">Misc.</option>
            <option value="cloud">Bulut G羹venlii</option>
            <option value="other">Dier</option>
          </select>
          <input id="qother" type="text" placeholder="Kategori" class="form-control mt-3">
          <hr>
          <label for="qbody">Soru metni</label>
          <textarea name="" id="qbody" cols="30" rows="6" class="tinymce"></textarea>
          <hr>
          <label class="" for="qflag">Bayrak</label>
          <input type="text" class="form-control mb-3" name="" id="qflag" placeholder="FLAG{hihiha}">
          <hr>
          <label class="" for="qvalue">Puan</label>
          <input type="number" class="form-control mb-3" name="" id="qvalue" placeholder="100">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="qhidden" checked>
            <label class="form-check-label" for="qhidden">
              Gizli
            </label>

          </div>
          <hr>
          <label for="qtype">T羹r</label>
          <select class="form-control mb-3" id="qtype">
            <option value="Statik">Statik</option>
            <option value="Dinamik">Dinamik</option>
            <option value="Test">Test</option>
          </select>
          <div id="qtest">
            <input type="text" id="tA" class="form-control mb-1" placeholder="A 覺kk覺">
            <input type="text" id="tC" class="form-control mb-1" placeholder="B 覺kk覺">
            <input type="text" id="tB" class="form-control mb-1" placeholder="C 覺kk覺">
            <input type="text" id="tD" class="form-control mb-1" placeholder="D 覺kk覺">
            Doru 覺k:
            <select class="form-control mb-3" id="tCorrect">
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
            </select>
          </div>
          <div id="qdynamic" class="input-group">
            <input type="number" class="form-control mb-2" id="minpoints" placeholder="Minimum puan">
            <span class="input-group-addon"></span>
            <input type="number" class="form-control" id="maxsubmissions"
              placeholder="Minimum puana gelmesi i癟in gereken kullan覺c覺 say覺s覺">
          </div>
          <label for="">Seviye</label>
          <select class="form-control mb-3" id="seviye">
            <option value="ortaokul">ortaokul</option>
            <option value="lise">lise</option>
          </select>
          <input type="submit" class="btn btn-block btn-primary w-100 mt-3">
        </form>
    </div>
    <%- include('../includes/jss.ejs') %>
      <script type="text/javascript" src="/assets/js/tinymce/tinymce.min.js"></script>
      <script src="/assets/js/tinymce/jquery.tinymce.min.js" referrerpolicy="origin"></script>

      <script>
        tinymce.init({
          selector: 'textarea#qbody',
          theme: "silver",
          plugins: "image",
        })
        $(document).ready(function () {
          $("#qother").hide();
          $("#qtest").hide();
          $("#qdynamic").hide();
          $("#qcategory").change(function () {
            if ($("#qcategory").find(":selected").text().trim() == "Dier") {
              $('#qother').show("fast");
            } else {
              $('#qother').hide("fast");
              $('#qother').val("");
            }
          });
          $("#qtype").change(function () {
            if ($("#qtype").find(":selected").text().trim() == "Dinamik") {
              $('#qdynamic').show("fast");
              $('#qflag').show("fast");
            } else {
              $('#qdynamic').prop("readonly", true);

              $('#qflag').show("fast");
            }
            if ($("#qtype").find(":selected").text().trim() == "Test") {
              $('#qtest').show("fast");
              $('#qflag').prop("readonly", true);

            } else {
              $('#qtest').hide("fast");
              $('#qflag').prop("readonly", false);

            }
          });
          $('#qname').keyup(function () {
            var name = $(this).val();
            if (name.length > 0) {
              $(".output").text(name);
            } else {
              $(".output").text(" ");
            }
          });
          $('#qform').on('submit', function (ed) {
            if ($("#qtype").find(":selected").text().trim() == "Dinamik") {
              if ($("#minpoints").val() == "" || $("#maxsubmissions").val() == "") {
                Swal.fire({
                  icon: 'error',
                  title: 'L羹tfen t羹m alanlar覺 doldurunuz',
                  showConfirmButton: false,
                  timer: 3000
                })
                return false;
              }
              var minpoints = $("#minpoints").val();
              var maxsubmissions = $("#maxsubmissions").val();
            }
            tinymce.triggerSave();
            ed.preventDefault();
            var TinyAjaxPost = $('#register').serialize();
            if ($("#qcategory").find(":selected").text().trim() == "Dier") {
              var category = $("#qother").val();
            } else {
              var category = $("#qcategory").find(":selected").text().trim();
            }
            if ($("#qhidden").is(":checked")) {
              var hidden = true;
            } else {
              var hidden = false;
            }
            var data = {
              qname: $('#qname').val().trim(),
              qcategory: category,
              qbody: $('#qbody').val(),
              qflag: $('#qflag').val().trim(),
              qvalue: $('#qvalue').val().trim(),
              qhidden: hidden,
              qtype: $("#qtype").find(":selected").text().trim(),
              minpoints: minpoints,
              maxsubmissions: maxsubmissions,
              tA: $("#tA").val(),
              tB: $("#tB").val(),
              tC: $("#tC").val(),
              tD: $("#tD").val(),
              tCorrect: $("#tCorrect").find(":selected").text().trim(),
              seviye: $("#seviye").find(":selected").text().trim()
            }
            $.ajax({
              type: "POST",
              url: "/api/challenge/create",
              data: JSON.stringify(data),
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              success: function (data) {
                if (data.message == "ok") {
                  Swal.fire({
                    icon: 'success',
                    title: 'Soru baar覺yla oluturuldu!',
                    showConfirmButton: false,
                    timer: 3000
                  }).then(
                    function () {
                      window.location.href = "/admin/challenges";
                    }
                  )

                } else if (data.message == "error") {
                  Swal.fire({
                    icon: 'error',
                    title: 'Bir hata olutu!',
                    showConfirmButton: false,
                    timer: 3000
                  })
                } else if (data.message == "Challenge already exists") {
                  Swal.fire({
                    icon: 'error',
                    title: 'Bu isimde bir soru zaten kay覺tl覺!',
                    showConfirmButton: false,
                    timer: 3000
                  })
                }
              }
            });
          });
        });
      </script>
      <script type="module">
        import autoAnimate from 'https://cdn.jsdelivr.net/npm/@formkit/auto-animate@1.0.0-beta.1/index.min.js';
        autoAnimate(document.getElementById('qbaslik'))
      </script>
  </body>



</html>