<!DOCTYPE html>
<html lang="tr">

<head>
    <%- include('../includes/head.ejs') %>
        <title>Kayıt</title>
</head>
<%- include('../includes/tctf-theme.ejs') %>

    <body>

        <div class="container">
            <%- include('../includes/navbar.ejs') %>
                <div>
                    <div class="header">
                        <h1>Parola Sıfırla</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col offset-md-2 col-lg-6 offset-lg-3">
                        <div></div>
                        <form method="post" id="login" accept-charset="utf-8" autocomplete="off">
                            <div class="mb-3">
                                <b><label class="form-label" for="name">E-mail adresi</label></b>
                                <input class="form-control" id="mail" name="name" required="" type="text" value="" />
                            </div>

                            <div class="row pt-3">
                                <div class="col-6 col-md-12">
                                    <button class="isinlanma-butonu mb-3 w-100" id="_submit">Sıfırlama Kodunu
                                        Gönder</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </body>
    <%- include('../includes/jss.ejs') %>
        <script>
            $(document).ready(function () {
                /*$("#_submit").click(function() {
                  $("#login").submit()
                })*/
                $("#login").submit(function (e) {


                    e.preventDefault();
                    var formData = new FormData();
                    var mail = $("#mail").val();

                    if (mail == "") {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Lütfen maili giriniz',
                        })
                        return false;
                    }

                    formData.append('mail', mail);
                    $.ajax({
                        type: "POST",
                        url: "/api/user/forgotpassword",
                        data: formData,
                        contentType: false,
                        processData: false,
                        cache: false,
                        success: function (data) {
                            if (data.message == "Required fields") {
                                Swal.fire({
                                    icon: "error",
                                    title: "Hata",
                                    text: "Lütfen tüm alanları doldurunuz.",
                                });
                            } else if (data.message == "Invalid password") {
                                Swal.fire({
                                    icon: "error",
                                    title: "Hata",
                                    text: "Parolanız en az 8 karakter olmalıdır!",
                                });

                            } else if (data.message == "error") {
                                Swal.fire({
                                    icon: "error",
                                    title: "Hata",
                                    text: "Beklenmedik hata :/",
                                });
                            } else if (data.message == "Invalid email") {
                                Swal.fire({
                                    icon: "error",
                                    title: "Hata",
                                    text: "Lütfen geçerli bir e-mail adresi giriniz!",
                                });
                            } else if (data.message == "ok") {
                                Swal.fire({
                                    icon: "success",
                                    title: "Mükemmel!",
                                    text: "Mail gönderildi!",
                                })
                            }
                        },
                    });
                });
            });
        </script>

</html>