

<!DOCTYPE html>
<html lang="TR">

<head>
  <%- include('../includes/head.ejs') %>
  <title>Siber Güvenlik Haftası CTF Kurallar</title>
</head>


<%- include('../includes/tctf-theme.ejs') %>


<body>
<style>
li{
    padding-top: 2%;
}
.ctel{
    text-align: left;
}
</style>


  <div id="GlobalWrapper" class="container">

    <%- include('../includes/navbar.ejs') %>

    <img src="/assets/img/sgh-logo.png" alt="Siber Güvenlik Haftası" class="logo">

    <div class="ctel">
      <h2 style="text-align: center">Kurallar</h1>
        <ul>
        <li>Bu yarışmaya katılım ücretsizdir.</li>

        <li>Bu yarışmaya yalnızca İstanbul'daki lise ve ortaokul öğrencileri katılabilmektedir.

        <li>Bu yarışmaya, Teknopark İstanbul MTAL öğrencileri yarışmacı olarak katılamaz.</li>

        <li>Yarışmaya katılım için belirlenen tarihler esas alınır.</li>

        <li>Yarışmaya katılım için her yarışmacı yarışmaya kayıt yaptırmak zorundadır. Kayıt yaptıran kişiler bilgilerin doğruluğunu peşinen kabul eder. Yanlış bilgi verildiği tespit edildiği takdirde, yarışmacı ve takımı yarışmalardan elenir. Dereceye girmiş dahi olsalar, derece ödülleri geri alınır.</li>

        <li>Yarışmaya, 5, 6, 7, 8, lise hazırlık, 9, 10, 11 ve 12. sınıf öğrencilerinin başvuruları kabul edilir. Başvuru sahibi, bunu belgelendirmek zorundadır.</li>
        
        <li>Yarışma belirlenen saatler arasında, belirlenen kurallar ile yapılır.</li>

        <li>Yarışmaya katılım sağlayan ve dereceye giren yarışmacılara belirtilen ödüller verilir.</li>

        <li>Yarışmada dereceye giren öğrencilere hediyeler verilecektir.</li>

        <li>Bu yarışma ile ilgili her türlü işleme, Yürütme Kurulu karar verir. Kurul, yönetmelik şartlarına aykırı bir durum tespit ederse, takım yarışmadan elenir. Şartlara haiz olmayan bir durum veya şikayet sonucu belirlenen bir ihlal ile karşılaşılırsa, kazanılan hediyeler iptal edilir. Hediyeleri kullananlar hakkında ise haksız kazanç elde etmeleri nedeniyle haklarında hukuki işlem başlatılır.</li>

        <li>Yürütme kurulunun yeterli başvuru olmaması gibi durumlarda yarışmayı iptal etme yetkisi vardır.</li>

        <li>Yürütme kurulu bu yönerge maddelerinde yarışma gününe kadar değişiklik yapma hakkını saklı tutar.</li>

        <li>İşbu yönerge, Yürütme Kurulu tarafından yürütülür.</li>

        </ul>
    </div>


    <div id="footer">


      <p class="footer_aciklama"> <u><a href="https://www.siberguvenlikhaftasi.com">www.siberguvenlikhaftasi.com</a></u> ツ Bayrağı Yakala Yarışması, Türkiye'nin ilk #SiberGüvenlikLisesi <span style="background-color: #d8ff00; color: black">Teknopark İstanbul Mesleki ve Teknik Anadolu Lisesi</span> tarafından hazırlanmıştır.</p>

      <img src="/assets/img/Duzenleyen-Kurumlar.png" width="90%">
      <div class="mt-3"><img style="cursor: pointer" onclick="window.location.href='https://skyloop.cloud';" src="/assets/img/skyloop.png" width="50%" class="d-inline-block">
      </div>

    </div>

  </div>
  </div>


</body>

</html>