<a class="nav-item nav-link text-light" href="/kosullar">Koşullar</a>
<a class="nav-item nav-link text-light" href="/kurullar">Kurullar</a>
<a class="nav-item nav-link text-light" href="/oduller">Ödüller</a>
<a class="nav-item nav-link text-light" href="/takvim">Takvim</a>
<a class="nav-item nav-link text-light" href="/sss">SSS</a>
<a class="nav-item nav-link text-light" href="/galeri">Galeri</a>
