*{
    color: #fff;
    
}

.header{
    width: 100%;
    height: 200px;
    background-color: #212425;
    align-items: center;
    justify-content: center;
    display: flex;
}
.navbar{
    background-color: #212425 !important;
}

.dark{
    background-color: #212425 !important;
    color: #fff;
}
