<!DOCTYPE html>
<html lang="tr">

<head>
  <%- include('../includes/head.ejs') %>
  <title>Sorular</title>
</head>

<body class="bg-dark">

  <%- include('../includes/navbar.ejs') %>
  <div>
    <div class="header">
      <h1>Sorular</h1>
    </div>
  </div>
  <div class="container mt-5">

  </div>
</body>
<%- include('../includes/jss.ejs') %>


</html>