<!DOCTYPE html>
<html lang="tr">

<head>
  <%- include('../includes/head.ejs') %>
  <title>404</title>
</head>
<%- include('../includes/tctf-theme.ejs') %>

<body class="dark">

  <div class="container mt-5">
    <div class="d-flex flex-column justify-content-center">
      <h2 class="d-flex justify-content-center" style="color: rgb(200, 200, 200);">Ups!</h2>
      <h1 class="d-flex justify-content-center" style="font-size:900%">404</h1>
      <h2 class="d-flex justify-content-center" style="color: rgb(200, 200, 200);">Aradığın sayfa bulunamadı</h2>
      <div class="m-auto p-2 dark smooth-border">
        <span>Belki anasayfadan istediğin yere ulaşabilirsin</span>
        <a class="btn btn-info mt-4 mr-4 ml-4 d-flex justify-content-center" href="/">Ana Sayfa</a>
      </div>

    </div>
  </div>
</body>
<%- include('../includes/jss.ejs') %>

</html>